
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    /*font-family: 'Segoe UI', Tahoma, sans-serif;*/
    /*background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);*/
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #383085, #122b49);
    color: #f5f7f6;
    padding: 20px;
     
}
#education{
    display: flex;
    justify-content: space-between;
}
/*HEADER*/
header {
    
    
     background: linear-gradient(135deg,#0f0c29, #302b63);
    color: #fff;
    padding: 2.1em;
    font-size:x-large;
    text-align:center;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    margin-bottom: 25px;
    
}
#element{
    color: #030303;
    font-size: xx-large;

}
header h1 {
    font-size: 2.6rem;
}

header p {
    font-size:xx-large;
    margin-top: 10px;
}
.Pritam{
    color: #030303;
}
/*NAV*/
nav {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    padding: 15px;
    text-align: center;
    border-radius: 14px;
    margin-bottom: 25px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #05313b;
    text-shadow: 0 0 10px #00eaff;
}

/*SECTIONS*/
section {
    background: rgba(255,255,255,0.95);
    color: #333;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 18px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
    animation: fadeIn 1s ease;
}

h2 {
    color: #302b63;
    margin-bottom: 15px;
}

h3 {
    color: #0072ff;
    margin-top: 20px;
}

/*PROFILE*/
#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#profile img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #091522;
    box-shadow: 0 0 25px rgba(0,114,255,0.6);
}

/*SKILLS*/
ul {
    list-style: none;
}

ul li {
    background: linear-gradient(135deg, #5a358a, #2b085a);
    color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 8px;
}

/* Skill Bars */
.skills-bar {
    background: #ddd;
    height: 18px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

.skills-fill {
    height: 100%;
    background: linear-gradient(to right, #306097, #2c3e50);   
     border-radius: 20px;
}
a i {
        font-size: 32px;
        margin: 10px;
        color: #333;
        transition: transform 0.3s, color 0.3s;
        }

        a i:hover {
        color: #0a66c2;
        transform: scale(1.2);
         }

footer {
    background: linear-gradient(135deg, #302b63, #0f0c29);
    color: #18406d;
    text-align: center;
    padding: 1.8em;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 768px) {
    #profile {
        flex-direction: column;
        text-align: center;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
       }